
body{
  background-color: #22212F;

  margin: 0;
  height: 100%;
}

.headercontainer{
  display: flex;
  /* margin-top: 20px; */
  height: 100vh;
  background-color: #22212F;

  
}



#leftdiv{
 
  height: 100px;
  background-color: #22212F;
  padding-top: 1px;
}
.logofont{
  padding-left: 10px;
}





#rightdiv{
  width: 430px;
  background-color: #21212F;
  padding-top: 20px;
}
.sidebar {
  width: 287px;
  height: 200px;
  background-color: #21212F;
  padding-top: 20px;
  transition: left 0.3s, width 0.3s;
  cursor: pointer;
  position: relative;
  left: -287px;
 

}

#sidebarlist1{
  position: absolute;
  margin-top: -3px;
  margin-left: 10px;

}



.sidebar.expanded {
  width: 300px;
  height: 700px;
  background-color: #21212F;
  left: 0;
}

.p{
  color: white;
}

.searchicon{
  position: absolute;
  margin-left: 650px;
  display: flex;
  align-items: center;
  
  margin-top: 12px;
  z-index: 1;
}

.logo-img{
  width: 20px;
  margin-left: 300px;
}



#menu{
  padding-top: 0px;
  z-index: 1;

}
#secondsidebar{
  margin-top: 90px;
}



.logofont{
  padding-right: 20px;
}

#sidebarlist{
  list-style: none;
  color: #6b6b71;
  padding-top: 35px;
  margin-right: 20px;
  /* background-color: black; */
  /* font-weight: 500; */
  font-weight: 200;
 font-family: 'Lato', sans-serif;
}

.logo-img{
  width: 20px;
}

#sidebarlist:hover{
  color: #7780D8;
}




@media screen and (max-width: 768px) {
  #search {
      width: 80%; /* Adjust the width as needed for smaller screens */
      margin-left: auto;
      margin-right: auto;
      
  }
  #leftdiv{
      width: 10%;

  }
  .login{
     display: none;
  }
  .logout{
      display: none;
  }
  

}

@media screen and (max-width: 1028px) {
  #search {
      width: 80%; /* Adjust the width as needed for smaller screens */
      margin-left: auto;
      margin-right: auto;
      
  }
  #leftdiv{
      width: 10%;

  }


}