body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.songItem  {
  /* display: flex; */
  /* flex-direction: row;
  justify-content: space-around; */
  display: grid;
 grid-template-columns: repeat(3,1fr);
 padding-left: 18rem;
 padding-top: 3rem;
}

#playListSongImageContainer {
  width: 60px;
  height: 60px;
  



  
}

.playlistSongImage {
  width: 60px;
  height: 60px;
  top: 90px;
  display: flex;
  justify-content: center;
  /* margin-left: 90px; */
  padding-top:20px;
  
  
}

.playListPlayPauseIcon{
    display: flex;
    flex-direction: row;
   
}

#playListSongDetails{
  flex-shrink: 0;
}




#playListPlayPauseIcon{
  display: flex;
  justify-content: column;
    
}
.icons{
    width: 80px;
    height: 80px;
    
}