body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#playlistinputcontainer {
  display: flex;
  /* height: 100%; */
  width: 100%;
}

#playlistform {
  width: 90%;
}

#playlistinputbox {
  background-color: #22212f;
  width: 100%;

  margin-top: 20px;
  height: 40px;
  padding-left: 20px;
  margin-left: 20px;

  color: rgb(201, 200, 200);
  cursor: pointer;
}

#addtoplaylist {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4adbc1;
  color: black;
  width: 100%;
  border: none;
  margin-top: 20px;
  margin-left: 20px;
  white-space: none;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
}
