
#trendingcontainer{
    margin-top: -20px;

}



#trendingheading{
    color: #68686B;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background-color: #000; */
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  
  .swiper-button-prev {
    /* Same styles as .swiper-button-next */
  }
  


#trendingimages{
    width: 120px;
    height: 120px;
}

#trendingsingername,#trendingsong{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

#trendingsong{
    color: #68686B;
}


