#homecontainer{
    display: grid;
    grid-template-columns: 20vw 57vw 20vw;
}

#navbarhome{
  
    height: 100vh;
    


    /* background-color: rgb(27, 117, 197); */
}


#secondlefthome{
    background-color: #22212F;
    height: 100vh;
    
}

#thirdlefthome{
    background-color: #22212F;
    margin-top: 40px;
}
