.playlistsongscontainer{
    display: flex;
    flex-direction: column;
    background-color: #22212F;
    
    width: 100%;
    margin-top: 20px;

     
}

.playlist-item{
    /* background-color: rgb(53, 156, 235); */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
   
}

.playlist-songs-count{
    color: rgb(119, 119, 119);
}

.playlistimage{
    width: 40%;
    height: 40%;
  
    margin: 20px;
    
}
.playlist-details{
    position: relative;
    width: 100%;

   
    
}

.playlist-name{
    color: #cdcdcd;
    font-family: 'Lato', sans-serif;;
    font-size: 14px;
}


.more-button {
    position: relative;
    margin-top: 20px;
    color: gray;
  }
  
  .playlist-name-menu-dropdown {
    /* Other styles */
    margin-left: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    /* Other styles */
  }
  