#playlistnamescontainer{
    width: 60%;
    height: 100px;
    background-color: rgb(231, 231, 231);
    position: relative;
    cursor: pointer;
}

#playlistnamescontainer:hover{
    background-color: rgb(231, 231, 231);   
    
}

#playlistnametopcontainer{
    background-color: rgb(231, 231, 231);   
}

#playlistnamename{
    left: 0;
}



#playlistnamemenudropdown{
    position: absolute;
    margin-left: 400px;
    margin-top: 50px;
    white-space: no-wrap;
}

#playlistnamemoredropdown{
    white-space: nowrap;
  color: black;
  font-weight: 600;
  cursor: pointer;
  margin-top: 30px;
  font-size: 16px;
  animation-name: slideup;
  animation-duration: 0.53s;
  animation-timing-function: ease-in-out;
  user-select: none;



}


#playlistcount{
    display: flex;
    justify-content: center;
    flex: 1fr;
}

#playlistimage{
    width: 90px;
    margin-left: -350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;

}

#playlistdetails{
    position: absolute;
    margin-left: -350px;
    user-select: none;
}

#playlistnamename{
    font-weight: 600;
}

#slsongmore  {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 320px;
    margin-top: 40px;
    cursor: pointer;
    user-select: none;
    
}


#playlistnamesongscount{
    font-size: 13px;
}



