#footercontainer{
    position: absolute;
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    height: 120px;
    background-color: #35354b;

    

}

#footerimage{

    /* background-color: antiquewhite; */
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    
}

#footerimg{
    height: 100%;
    margin-left: 40px;
}

#footersongdetails{
    /* background-color: aqua;   */
    display: flex;
    
}

#footersongtwoflex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    /* background-color: white; */
    width: 300px;

}

#footerthreeicons{
    /* background-color: blueviolet; */
}

#footerimg{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin-top: 10px;
   
}

#footersongname{
    color: white;
}


#footersingername{
    color: #A9A9A9;
    display: flex;
    justify-self: center;
    align-self: flex-start;
    
}



#footersongdetailsflex{
    display: flex;
    flex-direction: column;

   
    display: flex;
    justify-content: space-around;
}

#footerpreviousicon,#footerplayicon,#footernexticon{
    width: 20px;
    height: 20px;
}

audio{
    display: none;
}
