    /* body {
   
      display: flex;
      justify-content: center;
  
      margin-top: 30px;
      z-index: 1;
    

    
    } */

    #navbarcontainerwrap {
  
      background-color: #22212F;
      display: grid;
      grid-template-columns: 60vw 40vw ;
      z-index: 1;
      justify-content: space-between;
     
    }

    #centerdiv {
      background-color: #22212F;
      display: grid;
      height: 40px;
     

    }


    #navbarcon{
      display: flex;
      justify-content: space-between;
    }





    #searchnavbar {
      width: 38vw;
      grid-column-start: 1;
      
    
      height: 40px;
      position: absolute;
      color: #dedee4;
      padding-left: 20px;
      border-radius: 10px;
      background-color: #22212F;
      border: none;
      font-family: 'Poppins', sans-serif;
    }
    #searchicon {
      position: absolute;
      color: black;
      margin-top: 20px;
      z-index: 1;
      display: flex;
      justify-self: flex-end;
      right: 30px;
      margin-bottom: 20px;

    }

    #dark,#light{
      height: 40px;
      width: 60px;
    }


#search-list-container{
  width: 100%;
}


    #search-list-item {
      width: 90vw;
      background-color:#22212F;
      position: absolute;
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 20px;
      z-index: 2;
    }

    #centerdivwrap {
      display: flex;
      justify-content: center;
    }

    #searchListMap {
      position: absolute;
      display: flex;
      flex-direction: row;
      z-index: 1;
    }

    .navbarwelcome{
      color: white;
      font-size: 18px;
    }

    #search-list-image {
      width: 50px;
      height: 50px;
    }

    #rightdiv {
      background-color: #22212F;
      display: flex;
      justify-content: space-between;
      /* margin-top: -20px; */
      align-items: center;
      

    }

    #pnavbar{
      display: flex;
      justify-content: flex-start;
    }

    #navbarusername{
      color: #8C8C8C;
      
      
    }

    #search-list-song-name {
      color: #8C8C8C;
     
      user-select: none;
      cursor: pointer;
      margin-left: 20px;
    }

    
@media screen and (max-width: 728px){

  #navbarcontainerwrap{
    display: grid;
    grid-template-columns: 2.2fr 0.2fr;
  }
   #searchnavbar {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    
    
  }

}
